#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }

  @media(min-width:768px) {
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
  }