# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ignore back-end setting files
*.properties
ProjectPurple/Device/hydroponics_Slave/hydroponics_Slave/hydroponics_Slave_BASE_25964.ino
ProjectPurple/Device/hydroponics_Slave/hydroponics_Slave/hydroponics_Slave_BACKUP_25964.ino
ProjectPurple/Device/hydroponics_Slave/hydroponics_Slave/hydroponics_Slave_REMOTE_25964.ino
ProjectPurple/Device/hydroponics_Slave/hydroponics_Slave/hydroponics_Slave_LOCAL_25964.ino
