.TreeMap {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TreeMap .TreeMap__apBtn {
  width: 30%;
  margin-bottom: 10px;
}

.TreeMap .TreeMap__moduleBtn {
  width: 30%
}