 #sidebar-wrapper {
  position: absolute;
  transition: .2s ease-in-out;
  top: 45px;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 45px;
  box-shadow: 1px 0 3px 0 rgba(0,0,0,.4);
  /*background-color: #2ca8ff;*/
  background-color: #355b85;
  color: white;
  display: block;
}

.sidebar-item{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45px;
  height: 48px;
  cursor: pointer;
  color: #a4c8e0;
}

.sidebar-item:hover{
  color:white;
}

.sidebar-item.selected{
  color: white;
  background-color: dodgerblue;
}

@media(max-width:768px) {
  #sidebar-wrapper{
    display: none
  }
}