.Copyright{
    font-size: .9rem;
    z-index: 3;
}

.Copyright-a{
    color: black;
    z-index: 3;
}

.Copyright-back{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background-color: rgb(70, 70, 70);
    opacity: .1;
    z-index: 0;
}