.copyright-footer {
    background-color: #FFFFFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    color: #90929E;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright-footer-text{
    color: #90929E;
}