.RouterItem {
    /* background-color: #24c9eb; */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    transition-property: transform,box-shadow;
    transform: translateY(2px);
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    z-index: 2;
}

#RouterItem-border{
    border:0;
    padding: 0;
}

.RouterItem:hover{
    box-shadow: 0 5px 6px 0 rgba(0,0,0,.15);
    transform: translateY(-2px);
    background-color: white;
}

.smaller {
    font-size: 0.7rem;
}

.smaller.size-8 {
    font-size: 0.8rem;
}

.smaller.size-9 {
    font-size: 0.9rem;
}

.text-right{
    text-align: right;
}

.RouterItem-action{
    color: white;
    /* background-color:#89bf04; */
    background-color:#ffb024;
    border-radius: 3px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.RouterItem-clear-btn{
    float: right;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    z-index: 5;
    width: 25px;
}

.RouterItem-clear-btn:hover{
    background-color: #2ca8ff;
    color: white;
}

.item-right{
    float: right;
}

#nopadding{
    padding: 0px;
}

.padding-left{
    padding-left: 15px;
}

.padding-bottom{
    padding-bottom: 10px;
}

.padding-right{
    padding-right: 15px;
}

#padding-horizontal{
    padding-right: 15px;
    padding-left: 15px;
}

#nopadding-right{
    padding-right: 0px;
}

#nopadding-top{
    padding-top: 0px;
}

.border-top{
    border-top: 1px solid rgba(0,0,0,.125);
}

.bold{
    font-weight: bold;
}

.react-sweet-progress-symbol {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 35px;
    height: 20px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 200;
}

@media(max-width:1199px) and (min-width:767px){
    .RouterItem-action{
        color: white;
        background-color:#ffb024;
        border-radius: 3px;
        padding: 3px;
        padding-left: 6px;
        padding-right: 6px;
        font-weight: bold;
    }
}