.HeaderBlank{
    top: 0;
    left: 0;
    z-index: 1;
    width: 45px;
    height: 45px;
    position: absolute;
    transition: .2s ease-in-out;
    display: block;
    background-color: #5a81a9
}

.HeaderBlank-btn{
    display: none;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
}

.HeaderBlank-btn:hover{
    color: black;
}

@media(max-width:768px) {
    .HeaderBlank-btn{
        display: block;
    }
  }