
#Header{
  background-color: #2a2a2a;
}

#Header-wrapper{
  flex-wrap: nowrap;
}

#Header-item-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#Header-item-left{
  justify-content: left;
}

#Header-item-right{
  justify-content: right;
}

.Header-toggle{
  cursor: pointer;
}