#Header {
  /* background-color: #2a2a2a; */
  background-color: #355b85;
  padding: 0;
  height: 45px;
  top: 0;
  right: 0;
  left: 45px;
  /* z-index: 2; */
  height: 45px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
  position: absolute;
  transition: .2s ease-in-out;
}

#Header-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#Header-item-left {
  justify-content: left;
}

#Header-item-right {
  justify-content: right;
}

.Header-container {
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.Header-box-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 45%;
  justify-content: flex-start;
}

.Header-box-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 55%;
  justify-content: flex-end;
  height: 100%;
}

.Header-title {
  color: white;
  align-content: center;
  height: 45px;
  /* border-left: 1px solid gray;
  border-right: 1px solid gray; */
  padding-top: 8px;
  padding-left: 18px;
  padding-right: 18px;
  cursor: default;
}

.main-header-text{
  color: white;
  cursor: default;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 8px;
}

.main-header-username{
  color: white;
  cursor: default;
  width:150px;
  padding: 0 15px;
  border-left: 2px solid #2c6a95;
  padding-top: 10px;
}

.Header-toggle {
  cursor: pointer;
  width:46px;
  height: 46px;
}

.Header-toggle img{
  height: 100%;
  width: 100%;
}

.main-header{
  display: block;
  background-color: #2a2a2a;
  height: 47 px;
}

.main-header-text.bold{
  color: #2ca8ff;
  font-weight: bold;
}