#PageBody-addiction{
    max-width: 1037px;
    margin: 0 auto;
}

#PageBody{
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    flex: 1 1;
    contain: strict;
    display: block;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

#PageBody::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: transparent;
}

#PageBody::-webkit-scrollbar-thumb {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #b0b4bb;
}

#PageBody::-webkit-scrollbar-track {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #f3f4f5;
}

.router-list{
    font-size: 20px;
    color: #181818;
    font-weight: 300;
}