.smaller {
    font-size: 0.7rem;
}

.smaller.size-8 {
    font-size: 0.8rem;
}

.smaller.size-9 {
    font-size: 0.9rem;
}

#RouterAddButton-border {
    /* border: 2px dashed rgba(0, 0, 0, .125); */
    /* border-width: 2px; */
    border: 0;
    border-radius: 2px;
    padding: 0;
}

.RouterAddButton-container {
    height: 225px;
    cursor: pointer;
    padding-top: 0px;
    background-color: transparent;
}

.RouterAddButton-wrapper {
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    /* background-color: #e5e7ea; */
    border: 3px solid white;
    border-radius: 5px;
    border-style: dashed;
    color: white;
}


.RouterAddButton-wrapper:hover{
    color:#454a55;
    background-color: lightblue;
    border-style: none;
}

.RouterAddButton-item {
    justify-content: center;
    cursor: pointer;
}

/* @media(min-width:768px) {
    .RouterAddButton-wrapper {
        position: relative;
        height: 60px;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }
} */