.DeviceInfo-box{
    background-color: white;
}

.DeviceInfo-box-small{
    background-color: white;
    height: 100px;
    width: 100%;
}

.DeviceInfo-cont{
    display: block;
}

.pt-2p{
    padding-top: 2px;
}

.pb-2p{
    padding-bottom: 2px;
}

.pl-2p{
    padding-left: 2px;
}

.pr-2p{
    padding-right: 2px;
}

.DeviceInfo-btn{
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .125);
    color: #6c757d;
    padding: 1px 5px 1px 5px;
    cursor: default;
    border: 0;
    float: right;
}

.DeviceInfo-btn:focus{
    outline: none;
}

.DeviceInfo-btn.selected{
    background-color:#2ca8ff;
    color: white;
    cursor: pointer;
}

/* .DeviceInfo-cont.hidden{
    display: none !important;
    visibility: hidden !important;
} */

#padding-right-left{
    padding: 0px 10px 0px 10px;
}

.size-16{
    font-size: 22px
}

.line{
    margin-top: 1px;
    margin-bottom: 5px;
}

.dev-title{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}