@font-face{
    font-family: 'sansr';
    src: url('../../resources/fonts/NotoSansKR-Regular.woff');
}

.StartFarmingModal-box{
    border: 1px solid rgba(150, 150, 150, .5);
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
    font-family: 'sansr';
    font-size: 13px;
}

.StartFarmingModal-box:focus{
    outline: 0;
}

.StartFarmingModal-title {
    font-size: 1rem;
}

.StartFarmingModal-btn {
    border: 1px solid rgba(150, 150, 150, .5);
    background-color: white;
    color: black;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.StartFarmingModal-btn:focus{
    outline: none;
}

.StartFarmingModal-btn:hover:not([disabled]) {
    background-color: #2ca8ff;
    border: 1px solid #2ca8ff;
    color: white;
    text-decoration: none;
}

.StartFarmingModal-btn[disabled] {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    color: rgba(0, 0, 0, .125);
    cursor: default;
}

#padding-right-8 {
    padding-right: 8px;
}

.StartFarmingModal-justify {
    justify-content: center;
}

.StartFarmingModal-right {
    justify-content: flex-end;
}

.RouterAddModal-align {
    align-content: center;
}

.StartFarmingModal-floor {
    border: 1px solid black;
}

/* .modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
} */