@font-face{
    font-family: 'sansr';
    src: url('../../resources/fonts/NotoSansKR-Regular.woff');
}

#RouterAddModal-content{
    border-radius: .2rem;
}

#RouterAddModal-header{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0.4rem;
    border-top-right-radius: .2rem;
    border-top-left-radius: .2rem;
    background-color: #2a2a2a;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: row;
}

#RouterAddModal-body{
    background-color: #f9fafc;
    padding-bottom: 0;
}

#RouterAddModal-footer{
    background-color: #f9fafc;
    border-top: solid 1px #e7e7e7;
}

.RouterAddModal-close{
    border-top-right-radius: .2rem;
    margin: 0;
    background-color: #a93b36;
    color:#ca8885;
    border: 0;
    float: right;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
}

.RouterAddModal-close:hover{    
    background-color: #8e211c;
    color: #ffffff;
}

.RouterAddModal-close:focus{
    outline: none;
}

.ip-input-container{
    display: inline-block;
    font-size: 0;
    border: solid 1px #e7e7e7;
    padding: 1px 0;
  }
  .ip-input-container .ip-input-item{
    border: none;
    outline: 0;
    margin: 0;
    width: 60px;
    text-align: center;
    vertical-align: bottom;
    font-size: 13px;
    background-color: #f9fafc
  }
  .ip-input-container .ip-input-dot{
    display: inline-block;
    width: 2px;
    height: 2px;
    margin-bottom: 2px;
    background-color: #333;
    border-radius: 50%;
    vertical-align: bottom;
  }

.router-name-input{
    border: none;
    outline: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    font-size: 13px;
    background-color: #f9fafc
}


.RouterAddModal-title{
    font-size: 1rem;
}

.RouterAddModal-btn{
    padding-top:'4px';
    background-color:none;
    color: #696f7a;
    border: 1px solid rgba(0,0,0,.125);
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    cursor: pointer;
    height: 24px;
}

#padding-right-8{
    padding-right: 8px;
}

.RouterAddModal-justify{
    justify-content: center;
}

.RouterAddModal-align{
    align-content: center;
}

.router-ip{
    border-radius: 6px;
    background-color: #999999;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.search-btn{
    padding-top:'4px';
    background-color:#6293d7;
    color:white;
    border: 1px solid #6293d7;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    cursor: pointer;
    height: 24px;
}

.search-btn:hover{
    background-color:#2ca8ff;
    border: 1px solid #2ca8ff;
}

.RouterAddModal-btn:hover:not([disabled]){
    background-color:none;
    color: #696f7a;
    border: 1px solid rgba(0,0,0,.125);
    text-decoration: none;
}

.RouterAddModal-btn[disabled]{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    color: rgba(0,0,0,.125);
    cursor: default;
}

/* .modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
} */