#SigninWrapper {
    position: absolute;
    /* top: 45px;
    right: 0;
    bottom: 0;
    left: 45px; */
    height: 100%;
    width:100%;
    z-index: 0;
    overflow: hidden;
    background: url('../../resources/img/mountain.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .cont{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }