@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
    font-family: 'Roboto', sans-serif;
}

a:hover{
    text-decoration: none;
}

#nanum-gothic{
    font-family: 'Nanum Gothic', sans-serif;
}