<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smart_farm_api.device.repository.DeviceMapper">
	<select id="getAllAP" resultMap="APInfoDto" parameterType="Integer">
		SELECT * FROM AP 
		WHERE USER_CODE=#{userCode}
	</select>

	<select id="getAP" resultMap="APInfoDto" parameterType="String">
		SELECT *
		FROM AP
		WHERE AP_PUBLIC_IP=#{ip}
	</select>
	
	<select id="getApIp" resultType="String" parameterType="Integer">
		SELECT AP_PUBLIC_IP 
		FROM AP
		WHERE AP_CODE=#{apCode}
	</select>

	<select id="getAllSmartPlant" resultMap="SmartFarmInfoDto"
		parameterType="Integer">
		SELECT *
		FROM SF
		WHERE AP_CODE=(SELECT AP_CODE FROM AP WHERE USER_CODE=#{userCode})
		ORDER BY STAMP ASC
	</select>
	
	<select id="getSmartPlant" resultMap="SmartFarmInfoDto" parameterType="hashmap">
		SELECT *
		FROM SF 
		WHERE AP_CODE=#{apCode}
		AND STAMP=#{stamp}
	</select>
	
	<select id="getUserCodeOfAP" resultType="Integer" parameterType="Integer">
		SELECT USER_CODE
		FROM AP
		WHERE AP_CODE=#{apCode}
	</select>

	<delete id="deleteAP" parameterType="Integer">
		DELETE FROM AP
		WHERE
		AP_CODE=#{apCode}
	</delete>

	<insert id="insertAP" parameterType="smart_farm_api.device.domain.APInfoDto">
		<selectKey keyProperty="apCode" resultType="Integer" order="BEFORE">
			SELECT AP_SEQ.NEXTVAL AS ID FROM DUAL
		</selectKey>
		INSERT INTO AP
		(AP_CODE,AP_PUBLIC_IP,AP_SSID,USER_CODE, AP_SF_CNT, AP_REG_DATE)
		VALUES(#{apCode},#{apPublicIp},#{apSsid},#{userCode},#{apSfCnt}, SYSDATE)
	</insert>
	
	<update id="updateSFCount" parameterType="Integer">
		UPDATE AP 
		SET AP_SF_CNT=AP_SF_CNT+1
		WHERE AP_CODE=#{apCode} 
	</update>

	<insert id="insertSmartFarmDeviceList" parameterType="hashmap">
		<if test="deviceList.size != 0">
			<!-- INSERT ALL -->
			<foreach collection="deviceList" item="item" separator="," open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO SF (
			STAMP,
			SF_CODE,
			SF_PORT_CNT,
			FLOOR_CNT,
			COOLER_CNT,
			LED_CTRL_MODE,
			INNER_IP,
			AP_CODE,
			LED21_ST,
			LED22_ST,
			LED31_ST,
			LED32_ST,
			PUMP_ST,
			COOLER1_ST,
			COOLER2_ST,
			COOLER3_ST,
			SF_REG_DATE
			) VALUES
			(
				#{item.stamp},
				#{item.sfCode},
				#{item.sfPortCnt},
				#{item.floorCnt},
				#{item.coolerCnt},
				#{item.mode},<!-- 장비 상태는 자동(auto) -->
				#{item.innerIp},
				#{apCode},
				'F',<!-- LED상태는 꺼져 있음 -->
				'F',
				'F',
				'F',
				#{item.pumpSt},<!-- 펌프 상태는 꺼져 있음 -->
				'F',
				'F',
				'F',
				SYSDATE
			)
			</foreach>	
			<!-- SELECT * FROM DUAL -->
		</if>
	</insert>

	<insert id="insertSmartFarmDevice" parameterType="hashmap">
		INSERT INTO SF (
		STAMP,
		SF_CODE,
		SF_PORT_CNT,
		FLOOR_CNT,
		COOLER_CNT,
		LED_CTRL_MODE,
		INNER_IP,
		AP_CODE,
		LED21_ST,
		LED22_ST,
		LED31_ST,
		LED32_ST,
		PUMP_ST,
		COOLER1_ST,
		COOLER2_ST,
		COOLER3_ST,
		SF_REG_DATE
		)VALUES
		(
			#{stamp},
			#{sfCode},
			0,
			2,
			3,
			'T', <!-- 장비 상태는 자동(auto) -->
			#{innerIp},
			#{apCode},
			'F',<!-- LED상태는 꺼져 있음 -->
			'F',<!-- LED상태는 꺼져 있음 -->
			'F',<!-- LED상태는 꺼져 있음 -->
			'F',<!-- LED상태는 꺼져 있음 -->
			'F',<!-- 펌프 상태는 꺼져 있음 -->
			'F',<!-- 쿨러 상태는 꺼져 있음 -->
			'F',
			'F',
			SYSDATE 
		)
	</insert>

	<delete id="deleteSmartFarmDevice" parameterType="Integer">
		DELETE FROM SF
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</delete>

	<delete id="deleteSmartFarmAPAllDevice" parameterType="Integer">
		DELETE
		FROM SF
		WHERE AP_CODE=#{apCode}
	</delete>
	
	<update id="updatePort" parameterType="hashmap">
		UPDATE SF
		SET SF_PORT_CNT=#{sfPort},
		PUMP_ST=#{pumpSt}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="updateMode" parameterType="hashmap">
		UPDATE SF
		SET LED_CTRL_MODE=#{mode}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="updateLED" parameterType="hashmap">
		UPDATE SF
		SET 
		LED21_ST=#{led21},
		LED22_ST=#{led22},
		LED31_ST=#{led31},
		LED32_ST=#{led32}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="update2floorLED" parameterType="hashmap">
		UPDATE SF
		SET LED21_ST=#{led21},
		LED22_ST=#{led22}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="update2floorALED" parameterType="hashmap">
		UPDATE SF
		SET LED21_ST=#{led21}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="update2floorBLED" parameterType="hashmap">
		UPDATE SF
		SET
		LED22_ST=#{led22}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="update3floorLED" parameterType="hashmap">
		UPDATE SF
		SET 
		LED31_ST=#{led31},
		LED32_ST=#{led32}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="update3floorALED" parameterType="hashmap">
		UPDATE SF
		SET LED31_ST=#{led31}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="update3floorBLED" parameterType="hashmap">
		UPDATE SF
		SET
		LED32_ST=#{led32}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="updateCooler" parameterType="hashmap">
		UPDATE SF
		SET 
		COOLER1_ST=#{cooler1},
		COOLER2_ST=#{cooler2},
		COOLER3_ST=#{cooler3}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="updateCoolerA" parameterType="hashmap">
		UPDATE SF
		SET COOLER1_ST=#{cooler1}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="updateCoolerB" parameterType="hashmap">
		UPDATE SF
		SET COOLER2_ST=#{cooler2}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="updateCoolerC" parameterType="hashmap">
		UPDATE SF
		SET COOLER3_ST=#{cooler3}
		WHERE STAMP=#{stamp}
		AND AP_CODE=#{apCode}
	</update>
	
	<update id="changeInnerIp" parameterType="hashmap">
		UPDATE SF
		SET SF_CODE=#{after},
		INNER_IP=#{afterIp}
		WHERE STAMP=#{stamp} AND AP_CODE=#{apCode}
	</update>


	<resultMap type="smart_farm_api.device.domain.APInfoDto" id="APInfoDto">
		<result property="apRegDate" column="ap_reg_date"/>
		<result property="apCode" column="ap_code"/>
		<result property="apPublicIp" column="ap_public_ip"/>
		<result property="apSsid" column="ap_ssid"/>
		<result property="userCode" column="user_code"/>
		<result property="apSfCnt" column="ap_sf_cnt"/>
	</resultMap>
	
	<resultMap type="smart_farm_api.device.domain.SmartFarmInfoDto" id="SmartFarmInfoDto">
		<result property="sfRegDate" column="sf_reg_date"/>
		<result property="stamp" column="stamp"/>
		<result property="sfCode" column="sf_code"/>
		<result property="apCode" column="ap_code"/>
		<result property="sfPortCnt" column="sf_port_cnt"/>
		<result property="floorCnt" column="floor_cnt"/>
		<result property="coolerCnt" column="cooler_cnt"/>
		<result property="ledCtrlMode" column="led_ctrl_mode"/>
		<result property="cooler1St" column="cooler1_st"/>
		<result property="cooler2St" column="cooler2_st"/>
		<result property="cooler3St" column="cooler3_st"/>
		<result property="led21St" column="led21_st"/>
		<result property="led22St" column="led22_st"/>
		<result property="led31St" column="led31_st"/>
		<result property="led32St" column="led32_st"/>
		<result property="pumpSt" column="pump_st"/>
		<result property="innerIp" column="inner_ip"/>
	</resultMap>
	<!-- <resultMap type="com.spring.smart_plant.device.domain.DeviceHierarchyDTO" 
		id="deviceHierarchyDTO"> <result property="apInfo" column=""/> <result property="devices" 
		column=""/> </resultMap> -->
</mapper>