<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smart_farm_api.log.repository.LogMapper">
	<insert id="insertLog" parameterMap="DeviceLogDto">
		INSERT INTO DEVICE_LOG
		(USED_DT, SF_CODE,AP_CODE, ACT_NAME, USED_IP, USED_RES)
		VALUES 
		(#{usedDate},#{sfCode},#{apCode},#{actName},#{usedIp},#{result})
	</insert>
	<select id="getLog" parameterMap="DateSearchDto" resultMap="DeviceLogDto">
		SELECT * FROM DEVICE_LOG
		<!-- 부등호 태그를 인식하지 못하므로 CDATA를 추가해준다. -->
		<![CDATA[
		WHERE  USED_DT >= TO_DATE(#{date},'YYYY-MM-DD')
		AND USED_DT  < TO_DATE(#{date},'YYYY-MM-DD')+1
		AND SF_CODE=#{sfCode}
		AND AP_CODE=#{apCode}
		]]>
		ORDER BY USED_DT DESC
		<!-- 역순으로 정렬--> 
	</select>
	
	<delete id="deleteAllLog" parameterType="Integer">
		DELETE FROM DEVICE_LOG 
 		WHERE AP_CODE=#{apCode} 
<!--  		EXISTS (
        	SELECT A.AP_CODE, S.SF_CODE 
        	FROM SF S,AP A
			WHERE A.AP_CODE=#{apCode} 
			AND S.AP_CODE=A.AP_CODE 
		) -->
	</delete>
	
	<delete id="deleteSingleLog" parameterType="hashmap">
		DELETE FROM DEVICE_LOG
 		WHERE SF_CODE=#{sfCode}
 		AND AP_CODE=#{apCode}
	</delete>
	
	<resultMap type="smart_farm_api.log.domain.DeviceLogDto" id="DeviceLogDto">
		<result property="usedDate" column="used_dt"/>
		<result property="sfCode" column="sf_code"/>
		<result property="apCode" column="ap_code"/>
		<result property="actName" column="act_name"/>
		<result property="usedIp" column="used_ip"/>
		<result property="result" column="used_res"/>
	</resultMap>
	
	<parameterMap type="smart_farm_api.log.domain.DeviceLogDto" id="DeviceLogDto">
		<parameter property="usedDate"/>
		<parameter property="sfCode"/>
		<parameter property="apCode"/>
		<parameter property="actName"/>
		<parameter property="usedIp"/>
		<parameter property="result"/>
	</parameterMap>
	
	<parameterMap type="smart_farm_api.common.DateSearchDto" id="DateSearchDto">
		<parameter property="date"/>
		<parameter property="sfCode"/>
		<parameter property="apCode"/>
	</parameterMap>
</mapper>